<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/css/bootstrap-slider.min.css">
        <link href="https://fonts.googleapis.com/css?family=Germania+One" rel="stylesheet">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="shortcut icon" type="image/png" href="http://icrawlerrpg.github.io/assets/white-tower.png"/>
        <title>ICrawler · v0.9.2</title>
    </head>
    <body>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.3.0/showdown.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/7.0.0/bootstrap-slider.min.js"></script>
        <script src="assets/js/system.js"></script>
        <script src="assets/js/player.js"></script>
        <script src="assets/js/tower.js"></script>
        <script src="assets/js/buffs.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-76169051-1', 'auto');
            ga('send', 'pageview');
        </script>

        <div ng-app="system" ng-controller="systemController" class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <p class="text-center" style="font-family: 'Germania One', cursive;"><span class="h1">ICrawler</span> <span class="h4 text-muted">{{getVersion()}}</span></p>
                </div>
            </div>
            <div class="row" style="margin-bottom:10px;">
                <div class="col-xs-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#towerTab" role="tab" data-toggle="tab">Tower</a>
                        </li>
                        <li role="presentation">
                            <a href="#inventoryTab" role="tab" data-toggle="tab">Inventory</a>
                        </li>
                        <li role="presentation">
                            <a href="#upgradesTab" role="tab" data-toggle="tab">Upgrades</a>
                        </li>
                        <li role="presentation">
                            <a href="#changelogTab" role="tab" data-toggle="tab">Changelog</a>
                        </li>
                        <li role="presentation">
                            <a href="#dataTab" role="tab" data-toggle="tab">Game Data</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="towerTab">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div ng-controller="playerStatusController" class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseStatusScreen">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            <h3 class="panel-title" style="font-family: 'Germania One', cursive;">
                                                                <img src="assets/histogram.png" style="height: 25px;"> Status Screen
                                                            </h3>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-12">
                                                            Name: {{getName()}}<br>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-8">
                                                    <div class="row">
                                                        <div class="col-xs-1">HP: </div>
                                                        <div class="col-xs-11">
                                                            <div class="progress" data-toggle="tooltip" data-placement="top" title="Your health. You die if this gets to 0." style="margin-bottom: 5px;">
                                                                <div class="progress-bar progress-bar-danger" role="progressbar" style="width: {{getConditionPercentage(getHealth())}}%;">
                                                                    {{print(getHealth().currentValue)}} / {{print(getHealth().maximumValue)}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xs-1">MP: </div>
                                                        <div class="col-xs-11">
                                                            <div class="progress" data-toggle="tooltip" data-placement="top" title="Your mana. You can't cast spells without this." style="margin-bottom: 0px;">
                                                                <div class="progress-bar progress-bar-info" role="progressbar" style="width: {{getConditionPercentage(getMana())}}%;">
                                                                    {{print(getMana().currentValue)}} / {{print(getMana().maximumValue)}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapseStatusScreen" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="row">
                                                            <div class="col-xs-4">STR: {{print(getStrength().level)}}</div>
                                                            <div class="col-xs-8">
                                                                <div class="progress" data-toggle="tooltip" data-placement="top" title="Strength. Increases base damage." style="margin-bottom: 5px;">
                                                                    <div class="progress-bar" role="progressbar" style="width: {{getStatPercent(getStrength())}}%;">
                                                                        {{getStatPercent(getStrength())}}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="row">
                                                            <div class="col-xs-4">DEX: {{print(getDexterity().level)}}</div>
                                                            <div class="col-xs-8">
                                                                <div class="progress" data-toggle="tooltip" data-placement="top" title="Dexterity. Damage multiplier." style="margin-bottom: 5px;">
                                                                    <div class="progress-bar" role="progressbar" style="width: {{getStatPercent(getDexterity())}}%;">
                                                                        {{getStatPercent(getDexterity())}}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="row">
                                                            <div class="col-xs-4">CON: {{print(getConstitution().level)}}</div>
                                                            <div class="col-xs-8">
                                                                <div class="progress" data-toggle="tooltip" data-placement="top" title="Constitution. Increases damage resistance and maximum health." style="margin-bottom: 5px;">
                                                                    <div class="progress-bar" role="progressbar" style="width: {{getStatPercent(getConstitution())}}%;">
                                                                        {{getStatPercent(getConstitution())}}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <div class="row">
                                                            <div class="col-xs-4">SPD: {{print(getSpeed().level)}}</div>
                                                            <div class="col-xs-8">
                                                                <div class="progress" data-toggle="tooltip" data-placement="top" title="Speed. Increases exploration speed and run away chance." style="margin-bottom: 5px;">
                                                                    <div class="progress-bar" role="progressbar" style="width: {{getStatPercent(getSpeed())}}%;">
                                                                        {{getStatPercent(getSpeed())}}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <div class="row">
                                                            <div class="col-xs-4">MGC: {{print(getMagic().level)}}</div>
                                                            <div class="col-xs-8">
                                                                <div class="progress" data-toggle="tooltip" data-placement="top" title="Magic. Slightly increase magic potency and increase maximum mana." style="margin-bottom: 0px;">
                                                                    <div class="progress-bar" role="progressbar" style="width: {{getStatPercent(getMagic())}}%;">
                                                                        {{getStatPercent(getMagic())}}%
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div ng-controller="towerController" class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseTower">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <h3 class="panel-title" style="font-family: 'Germania One', cursive;">
                                                        <img src="assets/white-tower.png" style="height: 25px;"> The Tower
                                                    </h3>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    You are currently at Floor {{getCurrentFloor()}}.
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapseTower" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-3">Floor explored:</div>
                                                    <div class="col-xs-9">
                                                        <div class="progress">
                                                            <div class="progress-bar" role="progressbar" style="width: {{explorationPercent()}}%;">
                                                                {{explorationPercent()}}%
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <button class="btn btn-block {{returnButton().color}}" ng-disabled="returnButton().disabled" ng-click="changeFloor(-1)">{{returnButton().text}}</button>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <button class="btn btn-block {{exploreButton().color}}" ng-disabled="exploreButton().disabled" ng-click="exploreFloor()">{{exploreButton().text}}</button>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <button class="btn btn-block {{restButton().color}}" ng-disabled="restButton().disabled" ng-click="toggleRest()">{{restButton().text}}</button>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <button class="btn btn-block {{nextButton().color}}" ng-disabled="nextButton().disabled" ng-click="changeFloor(1)">{{nextButton().text}}</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-xs-12">Floor Log:</div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    {{printFloorLog()}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseBattle">
                                            <h3 class="panel-title" style="font-family: 'Germania One', cursive;">
                                                <img src="assets/crossed-swords.png" style="height:25px;"> Battle Screen
                                            </h3>
                                        </div>
                                        <div id="collapseBattle" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                Monster:
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                STR:
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                DEX:
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                CON:
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-9">
                                                        <div class="col-xs-12">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="inventoryTab">
                </div>
                <div role="tabpanel" class="tab-pane" id="upgradesTab">
                </div>
                <div role="tabpanel" class="tab-pane" id="changelogTab">
                </div>
                <div role="tabpanel" class="tab-pane" id="dataTab">
                </div>
            </div>
        </div>
        <!--
                                                    <div class="col-xs-9">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="progress">
                                                                    <div id="monsterbar" class="progress-bar progress-bar-danger" role="progressbar" style="width: 0%;">
                                                                        <span id="monsterhp">0</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6">
                                                                <button class="btn btn-block btn-danger" onClick="monsters.attackMelee()">Fight</button>
                                                            </div>
                                                            <div class="col-xs-6">
                                                                <button class="btn btn-block btn-warning" onClick="monsters.runAway()">Run</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    Combat Log:
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <span id="combatlog"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseTimeControls">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <h3 class="panel-title" style="font-family: 'Germania One', cursive;"><img src="assets/empty-hourglass.png" style="height: 25px;"></img> Idle Controls</h3>
                                                </div>
                                                <div class="col-xs-9 text-right">
                                                    Current Run: <span id="days">0</span> days, <span id="hours">0</span> hours, <span id="minutes">0</span> minutes, <span id="seconds">0</span> seconds
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapseTimeControls" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-2">
                                                        Time speed: x<span id="speed">1</span>
                                                    </div>
                                                    <div class="col-xs-7">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <span id="idleSwitch"></span>
                                                                <button class="btn btn-primary" onClick="system.gameSpeed(1000)">x1</button>
                                                                <span id="speed2"></span>
                                                                <span id="speed5"></span>
                                                                <span id="speed10"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-3">
                                                        <a class="btn btn-primary btn-block" role="button" data-toggle="collapse" href="#idleOptions" aria-expanded="false" aria-controls="collapseExample">Options</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="collapse" id="idleOptions">
                                                <div class="row" style="margin-left:0px; margin-bottom:10px;">
                                                    <div class="col-xs-3">
                                                        Auto-Rest at HP%:
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <input type="text" id="idleRest" name="idleRest" style="width: 100%;">
                                                    </div>
                                                </div>
                                                <div class="row" style="margin-left:0px; margin-bottom:10px;">
                                                    <div class="col-xs-3">
                                                        Auto-Rest at MP%:
                                                    </div>
                                                    <div class="col-xs-8">
                                                        <input type="text" id="idleMpRest" name="idleMpRest" style="width: 100%;">
                                                    </div>
                                                </div>

                                                <div class="row" style="margin-left:0px; margin-bottom:10px; margin-right:0px;">
                                                    <div class="col-xs-12">
                                                        <div class="list-group" style="margin-bottom:5px;">
                                                            <span id="toggleable">
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" data-toggle="collapse" data-target="#collapseSpellbook">
                                                    <div class="row">
                                                        <div class="col-xs-5">
                                                            <h3 class="panel-title" style="font-family: 'Germania One', cursive;"><img src="assets/book-cover.png" style="height: 25px;"></img> Spellbook</h3>
                                                        </div>
                                                        <div class="col-xs-7 text-right">
                                                            Arcania: <span id="arcania">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div id="collapseSpellbook" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <ul class="nav nav-pills" role="tablist">
                                                                    <li role="presentation" class="active">
                                                                        <a href="#all" aria-controls="healing" role="tab" data-toggle="tab">All</a>
                                                                    </li>
                                                                    <li role="presentation">
                                                                        <a href="#healing" aria-controls="healing" role="tab" data-toggle="tab">Healing</a>
                                                                    </li>
                                                                    <li role="presentation">
                                                                        <a href="#damage" aria-controls="damage" role="tab" data-toggle="tab">Damage</a>
                                                                    </li>
                                                                    <li role="presentation">
                                                                        <a href="#debuff" aria-controls="debuff" role="tab" data-toggle="tab">Debuff</a>
                                                                    </li>
                                                                    <li role="presentation">
                                                                        <a href="#utility" aria-controls="utility" role="tab" data-toggle="tab">Utility</a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="height: 10px;"></div>
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <div class="tab-content">
                                                                    <div role="tabpanel" class="tab-pane active" id="all">
                                                                        <span id="spellbook"></span>
                                                                    </div>
                                                                    <div role="tabpanel" class="tab-pane" id="healing">
                                                                        <span id="spellbook0"></span>
                                                                    </div>
                                                                    <div role="tabpanel" class="tab-pane" id="damage">
                                                                        <span id="spellbook1"></span>
                                                                    </div>
                                                                    <div role="tabpanel" class="tab-pane" id="debuff">
                                                                        <span id="spellbook2"></span>
                                                                    </div>
                                                                    <div role="tabpanel" class="tab-pane" id="utility">
                                                                        <span id="spellbook3"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="panel panel-default">
                                                <div class="panel-heading" data-toggle="collapse" data-target="#collapseBuffs">
                                                    <h3 class="panel-title text-danger" style="font-family: 'Germania One', cursive;">
                                                        <img src="assets/biceps.png" style="height: 25px;"></img> Spell Effects
                                                    </h3>
                                                </div>
                                                <div id="collapseBuffs" class="panel-collapse collapse in">
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-xs-12">
                                                                <ul class="list-group">
                                                                    <span id="temporary">
                                                                    </span>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="inventoryTab">
                    <div class="row" style="height: 10px;"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseShop">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <h3 class="panel-title" style="font-family: 'Germania One', cursive;">
                                                        <img src="assets/swap-bag.png" style="height: 25px;"></img> The Shop
                                                    </h3>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    Gold: <span id="gold">0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapseShop" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        A weird stall is placed at the floor entrance. The shopkeeper seems bored, but rejoices upon noticing you and says: "Welcome, welcome to my humble shop! May I interest you in some keys or experience crystals? Or are you here to sell?"
                                                    </div>
                                                </div>
                                                <div class="row" style="height: 10px;"></div>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <button class="btn btn-block btn-primary" onClick="inventory.buyKey()">Buy a Chest Key! (Price: <span id="keyprice">0</span>)</button>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <span id="sellbutton">
                                                            <button class="btn btn-block btn-success" onClick="inventory.updateInventory(true)">Enter Sell Mode</button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="row" style="height: 10px;"></div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        Experience Crystals (Price: <span id="crystalprice">0</span>):
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <button class="btn btn-primary" onClick="inventory.buyCrystal('Strength')">Strength</button>
                                                        <button class="btn btn-primary" onClick="inventory.buyCrystal('Dexterity')">Dexterity</button>
                                                        <button class="btn btn-primary" onClick="inventory.buyCrystal('Constitution')">Constitution</button>
                                                        <button class="btn btn-primary" onClick="inventory.buyCrystal('Speed')">Speed</button>
                                                        <button class="btn btn-primary" onClick="inventory.buyCrystal('Magic')">Magic</button>
                                                        <button class="btn btn-danger" data-toggle="tooltip" title="Small tip: A random crystal costs only half the price!" onClick="inventory.buyCrystal('')">Random</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseInventory">
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <h3 class="panel-title" style="font-family: 'Germania One', cursive;">
                                                        <img src="assets/knapsack.png" style="height: 25px;"></img> Inventory
                                                    </h3>
                                                </div>
                                                <div class="col-xs-6 text-right">
                                                    Keys: <span id="keys">0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapseInventory" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <button class="btn btn-block btn-success" onClick="inventory.useAllCrystals()">Use All Crystals</button>
                                                    </div>
                                                </div>
                                                <div class="row" style="height:10px;"></div>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <ul class="list-group" style="margin-bottom: 0px;">
                                                            <span id="inventory"></span>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseEquipment">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h3 class="panel-title" style="font-family: 'Germania One', cursive;">
                                                        <img src="assets/battle-gear.png" style="height: 25px;"></img> Equipment
                                                    </h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapseEquipment" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <ul class="list-group" style="margin-bottom: 0px;">
                                                            <span id="equipment"></span>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="upgradesTab">
                    <div class="row" style="height: 10px;"></div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseUpgrades">
                                            <div class="row">
                                                <div class="col-xs-5">
                                                    <h3 class="panel-title" style="font-family: 'Germania One', cursive;"><img src="assets/plain-arrow.png" style="height: 25px;"></img> Upgrades</h3>
                                                </div>
                                                <div class="col-xs-7 text-right">
                                                    Excelia: <span id="excelia">0</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapseUpgrades" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <span id="upgrades"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading" data-toggle="collapse" data-target="#collapseUpgrades">
                                            <div class="row">
                                                <div class="col-xs-12">
                                                    <h3 class="panel-title" style="font-family: 'Germania One', cursive;"><img src="assets/plain-arrow.png" style="height: 25px;"></img> Upgrade Effects:</h3>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="collapseUpgrades" class="panel-collapse collapse in">
                                            <div class="panel-body">
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <ul class="list-group" style="margin-bottom:0px;">
                                                            <span id="permanent">
                                                            </span>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="changelogTab">
                    <div class="row" style="height: 10px;"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-target="#collapseChangelog">
                                    <h3 class="panel-title" style="font-family: 'Germania One', cursive;">
                                        <a style="cursor:pointer;" class="accordion-toggle">
                                            <img src="assets/hazard-sign.png" style="height: 25px;"></img> Latest Changes
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseChangelog" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <div id="changelog"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="dataTab">
                    <div class="row" style="height: 10px;"></div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="panel panel-default">
                                <div class="panel-heading" data-toggle="collapse" data-target="#collapseDataTab">
                                    <h3 class="panel-title" style="font-family: 'Germania One', cursive;">
                                        Game Data
                                    </h3>
                                </div>
                                <div id="collapseDataTab" class="panel-collapse collapse in">
                                    <div class="panel-body">

                                        <div class="row">
                                            <div class="col-xs-4 text-center">
                                                <button class="btn btn-primary btn-block" onClick="system.exportGame()">Export</button>
                                            </div>

                                            <div class="col-xs-4 text-center">
                                                <button class="btn btn-success btn-block" onClick="system.importGame()">Import</button>
                                            </div>

                                            <div class="col-xs-4 text-center">
                                                <button class="btn btn-danger btn-block" onClick="system.hardReset()">Wipe data</button>
                                            </div>

                                            <hr>
                                        </div>

                                        <div class="row">
                                            <div class="col-xs-12">
                                                <p class="text-center text-muted small">Click export to dump your data into the textbox below. Paste in exported data and click Import to load your saved data.</p>
                                                <textarea rows="10" class="form-control" id="dataContainer"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <hr>
                <div class="col-xs-12 text-center">
                    ICrawler was made by the <a href="https://github.com/iCrawlerRPG">ICrawlerRPG Team</a> Icons are from their respective creators at <a href="http://game-icons.net/">Game-icons.net</a>.
                </div>
            </div>
        </div>
        -->
    </body>
</html>
